.terraform
terraform.tfstate
*.tfstate*
terraform.tfvars
*.backup
.vscode
.gitlab-ci-local
.env
.terraform.lock.hcl
tfmask
sshkey.pub
.gitlab-ci-local
docker
.editorconfig
.gitattributes
.pre-commit-config.yaml
.terraform-version
LICENSE
README.md
.gitlab-ci.yml
template/*
.github/workflows
